{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

    {% block body %}
    <h1>Bienvenue sur le trombinoscope de GEFOR !</h1>
        
        
        <button type="submit" class="btn btn-primary">Envoyer</button>
        
    {% endblock %}