{% extends 'base.html.twig' %}  

{% block title %}Nouvelle Formation{% endblock %}

{% block body %}
    <h1>Création d'une nouvelle formation</h1>

    {{ include('formations/_form.html.twig') }}

    <a href="{{ path('app_formations_index') }}">retour à la liste</a>
{% endblock %}
