{% extends 'base.html.twig' %}

{% block title %}Création nouvel élève{% endblock %}

{% block body %}
    <h1>Création d'un nouvel élève</h1>

    {{ include('users/_form.html.twig') }}

    <a href="{{ path('app_users_index') }}">retour à la liste</a>
{% endblock %}
